
  <!-- Content goes here. -->
  <nav class="clearfix">
    <a href="#" id="logo">LOGO</a>
    <ul class="navbar">
      <li><a href="#">Home</a></li>
      <li><a href="#">Pricing</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </nav>
  <div class='top'>
    <div class='toptext'>
      <p>
      Simple Pricing
      </p>
      <p>
        Try before you buy
      </p>
    </div>
  </div>

  <div class='middle'>

    <div class='column'>
      <div class='middleleft'>
        <p>Personal</p>
        <p class='bigfont'>$5</p>
        <p>PER MONTH</p>
      </div>
      <div>
        <ul>
          <h5>Free settup</li>
          <h5>Custom Sub-domain</li>
          <h5>Standard customer support</li>
          <h5>1GB File Storage</li>
          <h5>1 Databases</li>
          <h5>unlimited bandwidth</li>
        </ul>
      </div>
    </div>

    <div class='column'>
      <div class='middlemiddle'>
        <p>Small Bussiness</p>
        <p class='bigfont'>$25</p>
        <p>PER MONTH</p>
      </div>
      <div>
        <ul>
          <h5>Free settup</li>
          <h5>Use your own domain</li>
          <h5>Standard customer support</li>
          <h5>1000GB File Storage</li>
          <h5>5 Databases</li>
          <h5>unlimited bandwidth</li>
        </ul>
      </div>
    </div>

    <div class='column'>
      <div class='middleright'>
        <p>Enterprise</p>
        <p class='bigfont'>$45</p>
        <p>PER MONTH</p>
      </div>
      <div>
        <ul>
          <h5>Free settup</li>
          <h5>Use your own domain</li>
          <h5>Platinum customer support</li>
          <h5>Unlimited File Storage</li>
          <h5>25 Databases</li>
          <h5>unlimited bandwidth</li>
        </ul>
      </div>
    </div>
  </div>

  <div class='botton'>

    <div class='bottomcolumn'>
      <div>Get started today</div>
      <div>24/7 Customer Support</div>
    </div>

    <div class='bottomcolumn'>
      <div>Pay monthly or annually</div>
      <div>Cancel you plan anytime</div>
    </div>

  </div>

  <div class='footer'>
    Try now for 14 days.  No credit card required.  Header images courtesy of Unsplash
  </div>
