// Place all the styles related to the mockup controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
nav {
  // background-color: rgba(3, 3, 3, 1);
  color: grey;

  #logo {
    // padding-top: 18px;
    float: left;
    padding-left: 20px;
  }

  a {
    color: grey;
    text-decoration: none;
    font-weight: bold;
  }

  ul {
    // float: right;
    margin-left: 40px;
    list-style-type: none;
    color: grey;

    li {
      display: inline-block;

      a {
        font-weight: lighter;
        padding: 10px;
      }
    }
  }

}

.navbar {
  text-align: left;
}

.top {
  background-image: image-url('background.jpg');
  height: 400px;
}

.toptext {
  text-align: center;
  padding-top: 130px;
  color: white;
  font-size: 30px;
}

.middle {
  display: flex;
  text-align: center;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 20px;
}

.middleleft {
  background-color: green;
  color: white;
  padding: 25px;
}

.middlemiddle {
  background-color: blue;
  color: white;
  padding: 25px;
}

.middleright {
  background-color: black;
  color: white;
  padding:25px;
}

.column {
  width: 33%;
  padding-left: 5px;
}

.bigfont {
  font-size: 32px;
}

.bottom {
  display: flex;
  background-color: white;
  color: black;
  text-align: center;
  padding-top: 20px;
}

.bottomcolumn {
  width: 50%;
  padding-left: 10px;
}

.footer {
  background-color: black;
  color: white;
  text-align: center;
  padding-top:  20px;
  padding-bottom: 20px;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
